@charset "UTF-8";
/**
  *
  * Переменные
  *
  */

// Основные цвета темы
$theme-color: #3BA8C0;
$font-color: #4a545d;
$background-color: #eff3f7;
$link-color: #3BA8C0;
$link-hover-color: #f43f3f;
$button-color: #e74b3c;
$button-hover-color: #f43f3f;